name: Ubuntu Test

on:
  pull_request:
    branches: [master]

jobs:
  test_on_pull_request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with: 
          node-version: 13
      - run: npm ci
      - run: npm test
        env:
          TGENPATH: '/home/runner/work/tgen/tgen/src/'
      - run: npm run build